@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-image: url("../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: 95% -25%;
  background-size: 800px;
  font-family: vietman;
}
@font-face {
    font-family: vietman;
    src: url('../Be_Vietnam_Pro/BeVietnamPro-ThinItalic.ttf');
}
#call_to_action {
  background-image: url("../images/bg-simplify-section-desktop.svg");
  background-repeat: no-repeat;
}
@media (max-width: 576px) {
  body {
    background-position: 50px -50px;
    background-size: 500px;
  }
  #call_to_action {
    background-image: url("../images/bg-simplify-section-mobile.svg");
  }
}

/* Hamburger  Menu */


.hamburger {
  cursor: pointer;
  position: relative;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
}
.hambuger-top,
.hambuger-last,
.hambuger-mid{
    position: absolute;
    width: 24px;
    height: 2px;
    top: 0;
left: 0;
background-color: black;
transition: all 0.5s;
transform: rotate(0);
}
.hambuger-mid{
    transform: translateY(7px);
}
.hambuger-last{
    transform: translateY(14px);
}
.open{
    transform: rotate(90deg);
    transform: translateY(0px);
}
.open .hambuger-top{
    transform: rotate(45deg) translateY(6px) translate(6px);
}
.open .hambuger-mid{
    display: none;
}
.open .hambuger-last{
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}